*{
    margin: 0;
    padding: 0;
    font-size: 16;

}
/* a:hover{
    color: aqua;
}
a:visited{
    color: blueviolet;
}
a:visited{
    color: blueviolet;
}
  */
a.teste1:hover{
    color: brown;
    font-size: 20px;
}
div{
    margin: 50px;
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
div:hover{
    background-color: blueviolet;
}